/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #ecece8,
    100 : #cfcfc6,
    200 : #b0b0a1,
    300 : #90907b,
    400 : #78785e,
    500 : #606042,
    600 : #58583c,
    700 : #4e4e33,
    800 : #44442b,
    900 : #33331d,
    A100 : #ffff7a,
    A200 : #ffff47,
    A400 : #ffff14,
    A700 : #f9f900,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

