._container
{ 
  padding: 0;
  margin:-2em;;
  height: 100%;
  text-align: center;
  background-image: url('./../../assets/not_found.png')  ;
  background-repeat: no-repeat;
  background-size: 400px auto ;
  background-position: 50% 50%;

}
