
<x01-v1-header 
[srcLogo]="_srcLogo"
[company_name_1]=" _company_name_1"
[company_name_2]=" _company_name_2"
(onSideBar)="onSideBarVisible()"
class="example-toolbar"
></x01-v1-header>

<div name="main" class="_conteiner"
    [ngClass]="{
      'grid-container2': _flagPanel,
      'grid-container1': ! _flagPanel 
    }"
  >
    <div class="sidenav" [ngClass]="{ hiden: !_flagSideBarHiden }" >
    <div class="sidenav-header" (click)="onSideBarVisible()" >
      <div style=" height: 24px;">
        <span><mat-icon aria-hidden="false" aria-label="navigate before icon" fontIcon="navigate_before"></mat-icon></span>
  
       
    </div>
    </div>
     
       <x01-v1-sidebar
       (onSideBar)="onSideBarVisible()"
       >
        
       </x01-v1-sidebar>
       
       
     
    </div>
    
    <div class="main_content">
           
              <p>main content</p>
              <button mat-raised-button color="accent" (click)="onSideBarVisible()" >on_meny_clicK</button>
  </div>

  <!----------------- create end-->
</div>
<x01-v1-footer></x01-v1-footer>