@use "../styles/style";
@use '@angular/material' as mat;

$border: 2px inset #393939;
// #ffbd35;

$color: mat.get-color-from-palette(style.$theme-primary,"main-contrast");
$color-hover:mat.get-color-from-palette(style.$theme-primary,"lighter");

._conteiner{
  width: 100%;
  height: 400px;
}

.hiden {
  display: none;
}
.sidenav{
  background-color: rgba( mat.get-color-from-palette(style.$mat-accent,"lighter"),0.4);
  justify-items: start;
  border-right: $border;
  opacity: 0.4;
}

.main_content{
  background-color: white;

}

.grid-container1 {
  display: grid;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  grid-template-columns: 25% auto;
}

.grid-container2 {
  display: grid;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  grid-template-columns:  auto;
}
